<button class="button debug-layout__button" data-module-init="debug-layout">Toggle grid</button>
<div class="debug-layout">
    <div class="debug-layout__cols">
        <div class="debug-layout__col"></div>
        <div class="debug-layout__col"></div>
        <div class="debug-layout__col"></div>
        <div class="debug-layout__col"></div>
        <div class="debug-layout__col"></div>
        <div class="debug-layout__col"></div>
        <div class="debug-layout__col"></div>
        <div class="debug-layout__col"></div>
        <div class="debug-layout__col"></div>
        <div class="debug-layout__col"></div>
        <div class="debug-layout__col"></div>
        <div class="debug-layout__col"></div>
    </div>
</div>