    <header class="header" data-module-init="scroll-fix" data-animation="fade-in">
      <h1 class="logo">
        <a class="logo__link" href="./">
          <img class="logo__image" src="{{site.logo}}" alt="{{site.logo_alt}}">
          {{{site.title}}}
        </a>
      </h1>
    </header>

    <main class="main">
