<div class="tree-halve">
	<div class="tree-halve__left">
		{{#if img_plant_healthy_left}}
			<figure class="tree-halve__figure">
				<img data-src="{{img_plant_healthy_left}}" alt="" class="tree-halve__image">
			</figure>
		{{/if}}
	</div>
	<div class="tree-halve__right">
		{{#if img_plant_healthy_right}}
			<figure class="tree-halve__figure">
				<img data-src="{{img_plant_healthy_right}}" alt="" class="tree-halve__image">
			</figure>
		{{/if}}
	</div>
</div>
